<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Encuesta Transporte AIEP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="register-container">
    <ion-card class="register-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Registro de Usuario</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registerForm" (submit)="submitForm()" class="form-register">

          <ion-input
            label="Nombres"
            type="text"
            label-placement="floating"
            fill="outline"
            formControlName="nombres"
            placeholder="Ingrese sus nombres">
          </ion-input>

          <ion-input
            label="Apellidos"
            type="text"
            label-placement="floating"
            fill="outline"
            formControlName="apellidos"
            placeholder="Ingrese sus apellidos">
          </ion-input>

          <ion-input
            label="RUN"
            type="text"
            label-placement="floating"
            fill="outline"
            formControlName="run"
            placeholder="11111111-k"
            errorText="Ingrese su RUT sin puntos y con guión">
          </ion-input>

          <ion-input
            label="Email"
            type="email"
            label-placement="floating"
            fill="outline"
            formControlName="correo"
            placeholder="Ingrese su Email"
            errorText="Correo inválido o requerido">
          </ion-input>

          <ion-input
            label="Fecha de Nacimiento"
            type="date"
            label-placement="floating"
            fill="outline"
            formControlName="fecNac">
          </ion-input>

          <ion-input
            label="Contraseña"
            type="password"
            label-placement="floating"
            fill="outline"
            formControlName="contraseña"
            placeholder="Ingrese Password"
            errorText="Debe contener al menos 8 caracteres, una mayúscula, un número y un símbolo">
          </ion-input>

          <ion-input
            label="Repetir Contraseña"
            type="password"
            label-placement="floating"
            fill="outline"
            formControlName="confirmPassword"
            placeholder="Repita Password">
          </ion-input>

          <!-- Validación de coincidencia -->
          <div *ngIf="registerForm.errors?.['passwordMismatch']">
            <ion-label color="danger">Las contraseñas no coinciden</ion-label>
          </div>

          <ion-select
            label="Situación Laboral"
            label-placement="floating"
            fill="outline"
            formControlName="idSitLaboral">
            <ion-select-option *ngFor="let item of sitLaboral" [value]="item.id">
              {{ item.nombre }}
            </ion-select-option>
          </ion-select>

          <ion-select
            *ngIf="registerForm.get('idSitLaboral')?.value == 1"
            label="¿Jornada?"
            label-placement="floating"
            fill="outline"
            formControlName="IdModalidad">
            <ion-select-option *ngFor="let item of modalidades" [value]="item.id">
              {{ item.nombre }}
            </ion-select-option>
          </ion-select>

          <ion-select
            label="Comuna de Residencia"
            label-placement="floating"
            fill="outline"
            formControlName="IdComunaRes">
            <ion-select-option *ngFor="let item of comunasRes" [value]="item.id">
              {{ item.nombre }}
            </ion-select-option>
          </ion-select>

          <ion-select
            *ngIf="registerForm.get('idSitLaboral')?.value == 1 && registerForm.get('IdModalidad')?.value != 3"
            label="Comuna Laboral"
            label-placement="floating"
            fill="outline"
            formControlName="IdComunaTra">
            <ion-select-option *ngFor="let item of comunasTra" [value]="item.id">
              {{ item.nombre }}
            </ion-select-option>
          </ion-select>

          <ion-button type="submit" [disabled]="!registerForm.valid" expand="block" color="primary">
            Enviar
          </ion-button>

          <ion-button (click)="backToLogin()" expand="block" color="medium">
            Volver
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
